*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}



.slider{
    width: 100%;
    height: 700px;
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('images/image\ 20.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    opacity: 0;
    animation: fadeImage 2s ease-in-out forwards;
}

.content{
    text-align: center;
    color: white;
}

.title,
.subtitle,
.btn{
    opacity: 0;
    transform: translateY(30px);
    animation: fadeText 1.5s ease forwards;
}
.title{
    animation-delay: 1s;
}

.subtitle{
    animation-delay: 1.5s;
}

.btn{
    animation-delay: 2s;
}
@keyframes fadeImage{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeText{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

