

 .gras-text{
    font-size: 14px;
    font-weight: 600;
}

.card-desc{
    line-height: 1.6;
}


.barre-orientation{
    background: linear-gradient(rgba(39, 65, 49, 0.7),rgba(47, 81, 38, 0.7), rgba(1, 74, 11, 0.5)),url(./images/image\ 20.jpg)no-repeat center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
}
