
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
     
}


.barre{
    position: sticky;
    top: 0;
    z-index: 999;
}

.barre-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
  background: #ddfdd6;
    box-shadow: 0 10px 15px rgba(151, 245, 162, 0.5);
    top: 0;
    left: 0;
}

.barre-left{
    display: flex;
    align-items: center;

}

.barre-text{
    margin: 5px;
    text-align: center;
}

.edu { color: green; }
.mali { color: gold; }
.plus { color: red; }

.logo-icon{
    text-decoration: none;
}

.logo-emp{
    border-radius: 50%;
}


.logo-text{
    font-size: 25px;
    background: linear-gradient(90deg, #0a8f3c, #fcd116, #ce1126);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-desc{
    font-size: 10px;
    font-weight: 600;
    color: rgb(5, 219, 5);
}

/*-----------Styling Barre right--------*/

.barre-right{
    display: flex;
   align-items: center;
   gap: 20px;
  
}

.barre .right{
    display: flex;
    list-style: none;
}

.barre .right li a{
    padding: 5px 15px;
    color: rgb(4, 183, 63);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.barre .right li a:hover{
    background: linear-gradient(rgba(15, 241, 53, 0.3));
    padding: 10px 15px;
    border-radius: 10px;
}

.btn-login{
    padding: 0 20px;
    background: green;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-resultat-whatsapp{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
    background: #03682a;
    border-radius: 30px;
    align-items: center;
    color: #fff;
    transition: all 0.3s ease;

}

.btn-resultat-whatsapp i{
    margin: 0 10px;
}

.btn-resultat-whatsapp:hover{
    transform: translateY(-10px);
    background: #06c04d;
     box-shadow: 0 8px 15px 6px rgba(74, 248, 74, 0.6);

}


/*------------Styling Resultats des Examens Nationaux--------*/

.barre-resultat{
   background: linear-gradient(rgba(4, 46, 1, 0.7),rgba(2, 55, 16, 0.9), rgba(10, 55, 16, 0.8)),url(./images/image\ 11.jpg)no-repeat center/cover;
    height: 100vh;
    width: 100%;
}

.resultat-object{
    max-width: 1100px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 80px 30px;
}

.resultat-text{
    margin-bottom: 30px;
    font-size: 65px;
    color: #fff;
     background: linear-gradient(90deg, #0a8f3c, #fcd116, #ce1126);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resultat-desc{
    font-size: 25px;
    color: #fff;
    line-height: 1.6;
}


/*----------Styling Resultat Examens--------*/
.resultat-examen{
      background: linear-gradient(rgba(112, 237, 135, 0.2),rgba(191, 245, 177, 0.2));
      padding: 80px 20px;
}

.resultat-box{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #0a8f3c;
    text-align: center;
}

.text-resultat{
    margin-bottom: 25px;
    font-size: 60px;
}

.resultat-p{
    font-size: 25px;
    line-height: 1.3;
    text-align: center;
}

/*-----------Styling Resultat Bottom Grid-------*/




/*-----Section Footer Grid---*/
.footer-grid{
    font-size: 20px;
    margin-top: 30px;
    font-style: italic;
    color: #1d7a41;
}














/*-----------Styling Footer---*/

.footer-desc{
    text-align: center;
    background: #015923;
    padding: 30px;
    font-size: 40px;
    color: #fff;
}













@media (max-width:768px){
    
    /*--------Syling Query Logo Officiel----*/


.barre-resultat{
   background: linear-gradient(rgba(4, 46, 1, 0.7),rgba(2, 55, 16, 0.9), rgba(10, 55, 16, 0.8)),url(./images/image\ 11.jpg)no-repeat center/cover;
        height: 100vh;
    width: 100%;
   
}

    .logo-emp{
        width: 15%;
    }

    .barre-top{
    padding: 10px 20px;
    
}

.logo-text{
    font-size: 20px;
}

.logo-desc{
    font-size: 9px;
}



/*-------------Styling Barre Right---*/

.barre .right{
    display: none;
}

.btn-login{
    display: none;
}


.btn-resultat-whatsapp{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 14px;
    background: #069a3f;
    border-radius: 30px;
    align-items: center;
    color: #fff;

}





.resultat-text{
    width: 100%;
    font-size: 29px;
    padding: 70px 10px;
    margin-bottom: -10px;
   
}

.resultat-desc{
    width: 100%;
    font-size: 17px;
    text-align: left;
    line-height: 1.9;
    
}


/*-----------Bottom Grid------*/

.resultat-box{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.text-resultat{
    font-size: 25px;
    text-align: center;
    
}

.resultat-p{
    font-size: 17px;
    
}

.bottom-text{
    font-size: 16px;
    margin-bottom: 40px;
}

/*----------Footer-----------*/
.footer-desc{
    width: 100%;
   font-size: 15px;
}

}